body
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: white;
	color: black;
}
#main
{
	position: relative;
	margin: auto;
	top: 50px;
	width: 600px; height: 320px;
	background-image: url('img/video_tlo.jpg');
	background-repeat: no-repeat;
}
#header
{
	position: absolute;
	top: 0px; left: 130px;
}
#contact
{
	position: absolute;
	top: 120px; left: 200px;
}
#desc 
{
	position: absolute;
	top: 70px; left: 160px;
	font-size: 16px;

}
